{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<style>
body{
  overflow: hidden;
}
</style>
  {% if success_message %}
      <div class="alert alert-success" role="alert">
          {{ success_message }}
      </div>
  {% endif %}
<div class="container mx-auto px-4 py-8">
  <div class="heading">
    <h1>VoteX</h1>
    <h2>Create and Vote from Anywhere</h2>
    <div style="height:50px"></div>
    <img src="/static/line.png" alt="line">
  </div>


  <div class="clickcard max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/pollform">
      <img class="rounded-t-lg imgsize" src="/static/createpoll.jpg" alt="Create Poll" />
    </a>
    <div class="p-5">
      <a href="/pollform">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Create a New Poll</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Customize a Decentralized Election secured by blockchain and share the poll</p>
      <a href="/pollform" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Create Poll
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>
  </div>

  <div class="votecard max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a onclick="drop()" href="#">
      <img class="rounded-t-lg imgsize" src="/static/vote.png" alt="Create Poll" />
    </a>
    <div class="p-5">
      <a onclick="drop()" href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Cast Vote</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Enter the Poll ID to verify voter and cast the vote</p>
      <a onclick="drop()" href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Vote
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>
  </div>

  <form method="post" action="/vote" class="myDropdown voteverify w-full max-w-sm" style=" bottom: 80px;">
    <div class="flex items-center border-b border-blue-500 py-2">
      <input class="appearance-none bg-transparent border-none w-full text-stone-50 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" name="poll_id" placeholder="Poll ID" aria-label="Poll ID">
      <button class="flex-shrink-0 border-transparent border-4 text-blue-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="submit">
        Goto Poll
      </button>
    </div>
  </form>
</div>

<script>

  function drop() {
    document.querySelector(".myDropdown").classList.toggle("show");
  }
  
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>

{% endblock %}