<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DecentralizedVotingSystem</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="dropdown.css"> <!-- Include the dropdown CSS file -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="/dashboard" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/static/blocklogo.png" class="h-8" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Votex</span>
      </a>
      <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
          <span class="sr-only">Open user menu</span>
          <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="user photo">
        </button>
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="#" class="block py-2 px-3 text-lg text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-lg text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Polls</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-lg text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">History</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

<!-- Dropdown menu -->
<div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
  <div class="px-4 py-3">
    <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
    <span class="block text-sm text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
  </div>
  <ul class="py-2" aria-labelledby="user-menu-button">
    <li>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Profile</a>
    </li>
    <li>
      <a href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Log out</a>
    </li>
  </ul>
</div>

<div class="container mx-auto px-4 py-8">
  <div class="heading">
    <h1>Decentralized BlockChain based VoteX</h1>
    <h2>Create and vote in a secured voting environment</h2>
    <div style="height:50px"></div>
    <img src="/static/line.png" alt="line">
  </div>


  <div class="clickcard max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="/create-poll">
      <img class="rounded-t-lg imgsize" src="/static/createpoll.jpg" alt="Create Poll" />
    </a>
    <div class="p-5">
      <a href="/create-poll">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Create a New Poll</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Customize a Decentralized Election secured by blockchain and share the poll</p>
      <a href="/create-poll" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Create Poll
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>
  </div>


  <div class="votecard max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a onclick="drop()" href="#">
      <img class="rounded-t-lg imgsize" src="/static/vote.png" alt="Create Poll" />
    </a>
    <div class="p-5">
      <a onclick="drop()" href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Cast Vote</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Enter the Poll ID to verify voter and cast the vote</p>
      <a onclick="drop()" href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Create Poll
         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>
  </div>

  <form class="myDropdown voteverify w-full max-w-sm">
    <div class="flex items-center border-b border-blue-500 py-2">
      <input class="appearance-none bg-transparent border-none w-full text-stone-50 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Poll ID" aria-label="Full name">
      <button class="flex-shrink-0 border-transparent border-4 text-blue-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="button">
        Verify
      </button>
    </div>
  </form>
</div>

<script>
  const $targetEl = document.getElementById('user-dropdown'); // Set the dropdown menu as the target element
  const $triggerEl = document.getElementById('user-menu-button'); // Set the dropdown toggle button as the trigger element

  // Optional options with default values and callback functions
  const options = {
    onCollapse: () => {
      console.log('element has been collapsed');
    },
    onExpand: () => {
      console.log('element has been expanded');
    },
    onToggle: () => {
      console.log('element has been toggled');
    },
  };

  // Additional options for the instance
  const instanceOptions = {
    id: 'user-dropdown', // ID of the target element
    override: true // Override existing instance if it exists
  };

  // Function to toggle the dropdown menu
  function toggleDropdown() {
    const rect = $triggerEl.getBoundingClientRect();
    $targetEl.style.left = `${rect.left}px`;
    $targetEl.style.top = `${rect.bottom + 10}px`; // Adjusted position to be below the navbar
    $targetEl.classList.toggle('hidden');
  }

  // Add event listener to the trigger element for toggling the dropdown menu
  $triggerEl.addEventListener('click', () => {
    toggleDropdown();
  });


  function drop() {
    document.querySelector(".myDropdown").classList.toggle("show");
  }
  
  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>

</body>
</html>